title: "<%= projectName %>"
description: "<%= projectDescription %>"
tagline: "<%= projectTagline %>"
keywords: [<%= projectKeywords %>]
author:
  name: "<%= authorName %>"

baseurl: ""
url: <%= projectUrl %>
future: false
show_drafts: false
limit_posts: 0
source: source
markdown: kramdown
lsi: true
permalink: pretty
kramdown:
  input: GFM

exclude: [
  "bower.json",
  "node_modules",
  "gulpfile.js",
  "package.json",
  "README.md",
  "Gemfile",
  "Gemfile.lock"
]

keep_files: [
  "css",
  "scripts"
]

defaults:
  -
    scope:
      path: ""
    values:
      layout: default<% if (hasBlog) { %>
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post<% } %>
